.cart-widget__icon {
  color: var(--bg-main-color);
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: scale(1, 0.8);
  margin-top: 1px;
}

.cart-widget__icon:hover {
  color: var(--lnk-btn-hover);
  cursor: pointer;
}

svg ~ hr {
  height: 1px;
  width: 0px;
  margin: 0 auto;
  background: transparent;
  transform: scale(1, 1);
  letter-spacing: 0px;
}