.item-counter {
  margin: 5px auto;
  position: relative;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-normal-white);
  width: 80px;
  border-radius: 8px;
}

.item-counter button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-counter__button {
  width: 25px;
  height: 25px;
  border: none;
  text-align: center;
  display: block;
  /* background: url(plus.png) no-repeat center center; */
  float: left;
  cursor: pointer;
  border: 1px solid;
}

.item-counter__button.minus {
  border-radius: 5px 0 0 5px;
  background-color: var(--btn-rm-dark);
}

.item-counter__button.minus:hover {
  background-color: var(--btn-rm-hover);
}

.item-counter__button.plus {
  border-radius: 0px 5px 5px 0;
  background-color: var(--btn-add);
}

.item-counter__button.plus:hover {
  background-color: var(--btn-add-hover);
}

.item-counter__input {
  width: 30px;
  text-align: center;
  font-size: 14px;
  color: #282727;
  padding: 0 5px;
  font-weight: 600;
  float: left;
  display: block;
  border-style: hidden;
}