a.header__logo > div {
  height: 60px;
  border: var(--btn-add);
}

a {
  text-decoration: none;
}

div.logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: content-box;
}
/* 
div.logo {
  width: 150px;
  position: relative;
  text-align: center;
  height: 55px;
} */

div.logo {
  width: 150px;
  text-align: center;
  /* border: 1px solid var(--bg-main-color); */
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "."
  ".";
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}

.logo__text-up {
  color: var(--bg-normal-white);
  font-size: 235%;
  transform: scale(1, 0.6);
  font-weight: 100;
  line-height: 0;
  text-transform: lowercase;
}

.logo__text-bottom {
  background-color: var(--bg-main-color);
  text-transform: uppercase;
  font-weight: 900;
  color: var(--bg-second-color);
  letter-spacing: 25px;
  font-size: 60%;
  padding-left: 13%;
  transform: scale(1, 0.7);
}