.header {
  background-color: var(--bg-second-color);
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 35px;
  border-bottom: 4px solid var(--border-color);
}

.header__logo img {
  height: 50px;
  border: 1.4px solid var(--logo-border-powerline);
}

.header__menu-container {
  display: flex;
  align-items: center;
}
/* Lista de links de navegación */
.header__menu {
  position: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__menu li {
  min-width: 20px;
  margin: 10px 0;
  text-align: center;
  height: 100%;
  padding-top: 5px;
  margin: 2px;
  /* border-bottom: 0px solid var(--bg-second-color); */
}

.header__menu li:hover > hr {
  /* border-bottom: 3px solid var(--lnk-btn-color); */
  /* padding-top: 2px; */
  height: 1px;
  width: 100%;
  background-color: var(--lnk-btn-color);
  transition: all 0.2s;
}

.header__menu li:hover button {
  /* background-color: var(--lnk-btn-hover); */
  color: var(--heading-txt-color);
  transform: scale(1, 1);
  text-transform: uppercase;
  transition: all 0.2s;
  /* box-shadow:  0px 2px 0px 0px var(--btn-add-light); */
} 
