/** Colores de la webapp - Montana MTN94, sale un mural.
*! En primer complementario tetrádico hice el logo (o un flop) sumado a escala de grises como contraste.
*? Tonos principales o análogos
Ultra Oscuro: #013976 - Azul Oscuro
Oscuro: #005890 - Azul Eléctrico
Tono principal: #0074b1 - Azul Europa
Claro: #0098d2 - Azul Libertad
Ultra Claro: #c3e7f7 - Azul Lluvia

*TODO botones, links y otros principales
*? Tonos complementarios directos y análogos
Ultra oscuro: #f5a54a - Mandarina
Tono oscuro: #fbc67d - Naranja Plural
Tono principal: #fedca3 - Naranja Dalai
Tono Claro: #ffebc2 - Sundance

*TODO botones, links y otras cositas secundarias (con powerlines, detalles y 3d)
*? Tonos secundarios o análogos de principales
Tono oscuro: #2a491f; - Verde Valle
Tono principal: #83a512 - Verde Guacamole (palta papá)
Tono Claro: #bdd269 - Verde Pistacho

*? Tonos complementarios directos y análogos
Tono Oscuro: #6b0038 - Rojo Rioja
Tono principal: #d90075 - Magen ta
Tono Claro: #ee7faa - Rosa Orquídea

*? Grises
Ultra oscuro: #282a2c - Gris oscuro
Oscuro: #48474c - Gris Icario
Intermedio: #8a8b8d - Gris Londres
Claro: #dcdddf - Gris Siberia

*? Neutros
Blanco: #fff
Negro: #222; - Tres Patitos
*/

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}

:root {
  --bg-normal-white: #fff;
  --bg-main-color: #dcdddf;
  --bg-second-color: #282a2c;
  --border-color-top: #bdd269;
  --border-color-bottom: #d90075;
  --border-bottom: #0098d2;
  --bg-item: #83a512;
  --bg-item-back: #bdd269;
  --bg-item-even: #005890;
  --bg-item-even-back: #0074b1;
  --bg-item-text-price: #282a2cb4;
  --title-item: #48474c;
  /* Sections */
  --bg-section-main: #282a2c;
  --heading-txt-color: #f5a54a;
  --border-color: #8a8b8d;
  
  /* Gradientes mezclados con opacidad basada en Gris Siberia posiblemente para hero*/
  --bg-gradient-light: #bdd269dc;
  --bg-gradient-dark: #2a491fdc; 
  --bg-section-gradient-light: #8a8b8d;
  --bg-section-gradient-dark: #282a2c;
  --bg-section-gradient-light-alpha: #8a8b8ddc;
  --bg-section-gradient-dark-alpha: #282a2cdc;
  
  /* Buttons */
  --btn-bg-color: #f5a54a;
  --btn-bg-color-hover: #fbc67d;
  --btn-add-dark: #2a491f;
  --btn-add: #005890;
  --btn-add-hover: #0074b1;
  --btn-add-light: #bdd269;
  --btn-rm-dark: #6b0038;
  --btn-rm-hover: #a02364;
  --btn-rm: #d90075;
  --btn-rm-light: #ee7faa;
  --logo-border-powerline: var(--btn-add-light);
  /* Links */
  --lnk-btn-fill: none;
  --lnk-btn-color: var(--bg-main-color);
  --lnk-btn-hover: var(--heading-txt-color);
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans';
  color: var(--bg-normal-white);
}

*:focus {
  outline: none;
}

body {
  background-color: var(--bg-normal-white);
  height: 100vh;
  width: 100vw;
}

hr {
  border: none;
}

.section {
  position: relative;
  background: linear-gradient(
    to right bottom,
    var(--bg-section-gradient-dark),
    var(--bg-section-gradient-light)
  );
  padding: 20px;
  border-bottom: 5px solid var(--border-color-bottom);
  border-top: 3px solid var(--border-color-top);
  width: 90vw;
  margin: 20px auto;
  border-radius: 5px;
  backface-visibility: hidden;
}

.section__heading {
  color: var(--heading-txt-color);
  font-kerning: none;
  font-weight: 300;
  transform: scale(1, 0.7);
  text-transform: uppercase;
  border-bottom: 2px solid var(--bg-main-color);
  font-size: 22px;
}
